# Zkopíruj jako .env a doplň hodnoty
# Development key z https://developer.riotgames.com (expiruje po 24 h!)
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# Doplníme ve fázi 2:
DISCORD_TOKEN=
